<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<googletagmanagerpro>
			<general>
				<active>1</active>
				<license_key>[Check your order confirmation email for license key]</license_key>
				<account_id>GTM-XXXXXX</account_id>
				<enhanced_ecommerce_enabled>1</enhanced_ecommerce_enabled>
				<base>1</base>
				<enable_dynamic>1</enable_dynamic>
				<attribute_key>sku</attribute_key>
				<ajax_enabled>0</ajax_enabled>
				<product_item_class>div.products ol.product-items li.product-item</product_item_class>
				<send_admin_orders>0</send_admin_orders>
				<admin_source>phone</admin_source>
				<admin_medium>admin</admin_medium>
				<order_total_include_vat>1</order_total_include_vat>
				<send_parent_sku>0</send_parent_sku>
				<send_parent_category>0</send_parent_category>
				<scroll_threshold>50</scroll_threshold>
                <price_including_tax>0</price_including_tax>
			</general>
            <cookies>
                <lifetime>7</lifetime>
            </cookies>
		</googletagmanagerpro>
	</default>
</config>
