<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<googletagmanagerpro>
			<general>
				<active>1</active>
				<license_key>[Check your order confirmation email for license key]</license_key>
				<account_id>GTM-XXXXXX</account_id>
				<enable_dynamic>0</enable_dynamic>
				<enable_other_sites>0</enable_other_sites>
				<ecomm_category_path>0</ecomm_category_path>
				<gdpr_cookie_enabled>0</gdpr_cookie_enabled>
				<add_ga_events>0</add_ga_events>
				<use_ua_events>0</use_ua_events>
			</general>
            <cookies>
                <lifetime>7</lifetime>
            </cookies>
		</googletagmanagerpro>
	</default>
</config>
