<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="scommerce_googletagmanagerpro_cart_add_after" instance="Scommerce\GoogleTagManagerPro\Model\Observer\CheckoutCartAddAfter" />
    </event>
    <event name="sales_quote_remove_item">
        <observer name="scommerce_googletagmanagerpro_sales_quote_remove_item" instance="Scommerce\GoogleTagManagerPro\Model\Observer\CheckoutRemoveItemAfter" />
    </event>
    <event name="sales_quote_item_set_product">
        <observer name="scommerce_googletagmanagerpro_sales_quote_item_set_product" instance="Scommerce\GoogleTagManagerPro\Model\Observer\SalesQuoteItemSetGoogleCategory" />
    </event>
    <event name="catalog_controller_product_view">
        <observer name="scommerce_googletagmanagerpro_catalog_controller_product_view" instance="Scommerce\GoogleTagManagerPro\Model\Observer\ProductView" />
    </event>
</config>
