<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="scommerce_trackingbase_cart_add_after" instance="Scommerce\TrackingBase\Observer\CheckoutCartAddAfter" />
    </event>
    <event name="sales_quote_remove_item">
        <observer name="scommerce_trackingbase_sales_quote_remove_item" instance="Scommerce\TrackingBase\Observer\CheckoutRemoveItemAfter" />
    </event>
    <event name="sales_quote_item_save_after">
        <observer name="scommerce_trackingbase_sales_quote_item_save_after" instance="Scommerce\TrackingBase\Observer\SalesQuoteItemSaveAfter" />
    </event>
    <event name="wishlist_add_product">
        <observer name="scommerce_trackingbase_wishlist_add_product" instance="Scommerce\TrackingBase\Observer\WishlistAddProductObserver" />
    </event>
</config>
