<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<scommerce_trackingbase>
			<general>
				<active>0</active>
				<enhanced_ecommerce_enabled>1</enhanced_ecommerce_enabled>
                <conversion_pii_data_layer>0</conversion_pii_data_layer>
				<base>1</base>
				<attribute_key>sku</attribute_key>
				<category_attribute>product_primary_category</category_attribute>
				<is_category_id>1</is_category_id>
				<order_total_include_vat>1</order_total_include_vat>
				<send_parent_sku>1</send_parent_sku>
                <category_dropdown>product_primary_category</category_dropdown>
				<send_parent_category>1</send_parent_category>
                <full_list_name>1</full_list_name>
                <send_default_list>1</send_default_list>
				<default_list>Default List</default_list>
                <send_admin_orders>0</send_admin_orders>
				<admin_source>phone</admin_source>
                <consent_mode>0</consent_mode>
				<admin_medium>admin</admin_medium>
                <scroll_threshold>50</scroll_threshold>
                <product_item_class>div.products ol.product-items li.product-item</product_item_class>
                <category_ajax_enabled>0</category_ajax_enabled>
                <price_including_tax>0</price_including_tax>
                <slider_text>Home page sliders</slider_text>
			</general>
            <!-- UNCOMMENT THIS TO SET DEFAULTS IF USING MAGENTO >= 2.4.2 -->
<!--            <checkout>-->
<!--                <add_carrier_title>0</add_carrier_title>-->
<!--                <steps>-->
<!--                    <item1>-->
<!--                        <step>1</step>-->
<!--                        <selector>shipment</selector>-->
<!--                        <type>2</type>-->
<!--                    </item1>-->
<!--                    <item2>-->
<!--                        <step>2</step>-->
<!--                        <selector>payment</selector>-->
<!--                        <type>3</type>-->
<!--                    </item2>-->
<!--                </steps>-->
<!--            </checkout>-->
		</scommerce_trackingbase>
	</default>
</config>
