<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="scommerce" translate="label" sortOrder="400">
            <label>Scommerce Configuration</label>
        </tab>
        <section id="googletagmanagerpro" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Tag Manager Pro</label>
            <tab>scommerce</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Scommerce_GoogleTagManagerPro::config_googletagmanagerpro</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="license_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
				<field id="account_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Id</label>
					<comment>This is GTM container id which should look GTM-XXXXXX when you look at your GTM account</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="enable_dynamic" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable dynamic remarketing tags</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This will enable and install remarketing tag to different pages</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
				<field id="enable_other_sites" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable tracking for other sites</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This will enable other site variables (https://developers.google.com/adwords-remarketing-tag/parameters#other) instead of retail site variables]]></comment>
                    <depends>
						<field id="*/*/active">1</field>
                        <field id="*/*/enable_dynamic">1</field>
                    </depends>
                </field>
				<field id="ecomm_category_path" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Ecomm Category Path</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Put "Yes" or "No" if you want this send category path with <i>ecomm_category</i>]]></comment>
                    <depends>
						<field id="*/*/active">1</field>
                        <field id="*/*/enable_dynamic">1</field>
                    </depends>
                </field>
				<field id="gdpr_cookie_enabled" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable GDPR cookie check</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[If you are using our <a href="https://www.scommerce-mage.com/magento2-gdpr-compliance.html" target='_blank'>GDPR extension</a> or any other GDPR extension and you want to block sending information to Google then set this to "yes" based on customer preference. <strong>Please note this is optional as far as you are not sending any PII to Google this setting needs to be turned off</strong>]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
				<field id="force_decline" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Force decline</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[If you set this to yes then GTM tracking will be turned off unless customer accepts the cookie policy from the cookie notification message from your website]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
						<field id="*/*/gdpr_cookie_enabled">1</field>
                    </depends>
                </field>
				<field id="gdpr_cookie_key" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>GDPR Cookie Key</label>
					<comment><![CDATA[You can add name of your GDPR cookie here for our <a href="https://www.scommerce-mage.com/magento2-gdpr-compliance.html" target='_blank'>GDPR extension</a> the name of cookie key is <strong>cookie_accepted</strong> but if you are using other GDPR extension then please check with extension developer]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
						<field id="*/*/gdpr_cookie_enabled">1</field>
                    </depends>
                </field>


                <field id="add_ga_events" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable GA4 data layer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This will enable GA4 events and create data layer accordingly. Before turning this off make sure you are not using this data layer in GTM as data layer variable]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
            </group>
            <group id="cookies" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cookies From Query Params</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set cookies from query parameters</comment>
                </field>
                <field id="configuration" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configuration</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <frontend_model>Scommerce\GoogleTagManagerPro\Block\Adminhtml\Form\Field\CookieOption</frontend_model>
                    <comment><![CDATA[Add query param and cookies relations here. {{value}} is a placeholder for the cookie value itself]]></comment>
                </field>
                <field id="lifetime" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lifetime</label>
                    <comment><![CDATA[Cookies lifetime in days]]></comment>
                </field>
            </group>
		</section>
    </system>
</config>
