<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="scommerce" translate="label" sortOrder="400">
            <label>Scommerce Configuration</label>
        </tab>
        <section id="googletagmanagerpro" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Tag Manager Pro</label>
            <tab>scommerce</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Scommerce_GoogleTagManagerPro::config_googletagmanagerpro</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="license_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
				<field id="account_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Id</label>
					<comment>This is GTM container id which should look GTM-XXXXXX when you look at your GTM account</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="enhanced_ecommerce_enabled" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Enhanced Ecommerce</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Please make sure this feature is enabled in Google Analytics first before enabling in Magento.</comment>
                </field>
                <field id="brand_dropdown" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Attribute</label>
                    <source_model>Scommerce\GoogleTagManagerPro\Model\Source\Brand</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                    <comment><![CDATA[Please select brand attribute if you have one otherwise put your brand name in the below input box. <strong>Attribute should be available for product listing 'Storefront Properties -> Used in Product Listing = Yes'</strong>]]></comment>
                </field>
                <field id="brand_text" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Name</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="category_ajax_enabled" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category Ajax Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                    <comment><![CDATA[Enable this feature if you have third party ajax enabled extension on your category page. Copy code from <strong>view/frontend/templates/listproduct.phtml</strong> to your category code where content is getting loaded]]></comment>
                </field>
				<field id="send_impression_on_scroll" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Product Impression On Scroll</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
					<comment>Enable this feature when you have loads of products on product listing / category pages</comment>
                </field>
				<field id="product_item_class" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product item class on category / product listing page</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/send_impression_on_scroll">1</field>
                    </depends>
					<comment><![CDATA[Make sure this product class item heirarchy is as unique as possible for example for luma theme you can use <strong>div.products ol.product-items li.product-item</strong>]]></comment>
                </field>
                <field id="scroll_threshold" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Threshold for Scroll</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/send_impression_on_scroll">1</field>
                    </depends>
                    <validate>validate-digits</validate>
                    <comment><![CDATA[Threshold to fire impressions on scroll]]></comment>
                </field>
                <field id="base" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Base</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set 'Yes' if you want to send base order data and 'No' to send store order data to Google. Set this 'No' only when you have multicurrency and you want to send different currency data to Google.</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="enable_dynamic" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable dynamic remarketing tags</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This will enable and install remarketing tag to different pages</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
				<field id="enable_other_sites" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable tracking for other sites</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This will enable other site variables (https://developers.google.com/adwords-remarketing-tag/parameters#other) instead of retail site variables]]></comment>
                    <depends>
						<field id="*/*/active">1</field>
                        <field id="*/*/enable_dynamic">1</field>
                    </depends>
                </field>
                <field id="attribute_key" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product ID Attribute</label>
                    <source_model>Scommerce\GoogleTagManagerPro\Model\Config\Source\Attributes</source_model>
                    <comment>This attribute should match with the id provided in Google Merchant Center feed</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enable_dynamic">1</field>
                    </depends>
                </field>
				<field id="ajax_enabled" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ajax Add To Basket Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Set this to yes when you have Ajax add to basket enabled</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
				<field id="gdpr_cookie_enabled" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable GDPR cookie check</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[If you are using our <a href="https://www.scommerce-mage.com/magento2-gdpr-compliance.html" target='_blank'>GDPR extension</a> or any other GDPR extension and you want to block sending information to Google then set this to "yes" based on customer preference. <strong>Please note this is optional as far as you are not sending any PII to Google this setting needs to be turned off</strong>]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
				<field id="force_decline" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Force decline</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[If you set this to yes then GTM tracking will be turned off unless customer accepts the cookie policy from the cookie notification message from your website]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
						<field id="*/*/gdpr_cookie_enabled">1</field>
                    </depends>
                </field>
				<field id="gdpr_cookie_key" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GDPR Cookie Key</label>
					<comment><![CDATA[You can add name of your GDPR cookie here for our <a href="https://www.scommerce-mage.com/magento2-gdpr-compliance.html" target='_blank'>GDPR extension</a> the name of cookie key is <strong>cookie_accepted</strong> but if you are using other GDPR extension then please check with extension developer]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
						<field id="*/*/gdpr_cookie_enabled">1</field>
                    </depends>
                </field>
                <field id="send_admin_orders" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Admin Orders to Google</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable this feature only if you want to send admin orders on order creation]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="admin_source" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Source</label>
                    <comment><![CDATA[You can add your source here to pass this to Google for admin orders]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/send_admin_orders">1</field>
                    </depends>
                </field>
                <field id="admin_medium" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Medium</label>
                    <comment><![CDATA[You can add your medium here to pass this to Google for admin orders]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/send_admin_orders">1</field>
                    </depends>
                </field>
                <field id="order_total_include_vat" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Total Include VAT</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to "Yes" then VAT will be included in order total]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="send_parent_sku" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Always Send Parent SKU</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to "Yes" then it will always send parent sku instead of child sku to GA during checkout]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="send_parent_category" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Parent Category</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to "Yes" then it will send category path. If "No" then it will send only category name]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
			</group>
		</section>
    </system>
</config>
