<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="scommerce" translate="label" sortOrder="400">
            <label>Scommerce Configuration</label>
        </tab>
        <section id="scommerce_trackingbase" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
            <label>Tracking Base</label>
            <tab>scommerce</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Scommerce_TrackingBase::config</resource>
			<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
				<label>General</label>
				<field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="enhanced_ecommerce_enabled" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Enhanced Ecommerce</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Please make sure this feature is enabled in Google Analytics first before enabling in Magento.</comment>
                </field>
                <field id="enhanced_conversion_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Enhanced Conversion</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable enhanced conversion to send PII data to Google Adwords to target actual customers. You need to turn on enhanced conversions in Google Adwords.
				<a href="https://support.google.com/google-ads/answer/10172785" target="_blank">Click here for more information</a>]]></comment>
                </field>
                <field id="attribute_key" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product ID Attribute</label>
                    <source_model>Scommerce\TrackingBase\Model\Source\Attributes</source_model>
                    <comment>This attribute should match with the id provided in Google Merchant Center feed</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="brand_dropdown" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Brand Attribute</label>
                    <source_model>Scommerce\TrackingBase\Model\Source\Brand</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                    <comment><![CDATA[Please select brand attribute if you have one otherwise put your brand name in the below input box. <strong>Attribute should be available for product listing 'Storefront Properties -> Used in Product Listing = Yes'</strong>]]></comment>
                </field>
                <field id="brand_text" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Brand Name</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/brand_dropdown">0</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                    <comment><![CDATA[This will take effect only if "Brand Attribute" not selected]]></comment>
                </field>
                <field id="category_dropdown" translate="label" type="select" sortOrder="63" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Primary Category Attribute</label>
                    <source_model>Scommerce\TrackingBase\Model\Source\Brand</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                    <comment><![CDATA[Please select primary category attribute which can be sent to Google in case a product is in more than one category.]]></comment>
                </field>
                <field id="slider_text" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sliders name</label>
                    <comment><![CDATA[When showing best seller / hot seller products on home page then we use this description to send to Google as list name. So that you know products have been viewed / clicked from home page instead of product listing page.]]></comment>
                </field>
                <field id="affiliation" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Affiliation</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                    <comment><![CDATA[Affiliation will be sent with GA4 events]]></comment>
                </field>
                <field id="base" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Use Base Currency</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set 'Yes' if you want to send base order data and 'No' to send store order data to Google. Set this 'No' only when you have multicurrency and you want to send different currency data to Google.</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="price_including_tax" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product Price Include Tax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to "Yes" then price will include TAX]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="order_total_include_vat" translate="label" type="select" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Total Include VAT</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to "Yes" then VAT will be included in order total]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="send_parent_sku" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Always Send Parent SKU</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to "Yes" then it will always send parent sku instead of child sku to GA during checkout. <span style="color:red;">Be careful with "No" - it might affect correct tracking</span>]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="category_attribute" translate="label" type="select" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Category Attribute</label>
                    <source_model>Scommerce\TrackingBase\Model\Source\Brand</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                    <comment><![CDATA[Please select category attribute if you have one otherwise put your brand name in the below input box. <strong>Attribute should be available for product listing 'Storefront Properties -> Used in Product Listing = Yes'</strong>]]></comment>
                </field>
                <field id="is_category_id" translate="label" type="select" sortOrder="107" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is Category ID</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to "Yes" if "Category Attribute" is ID of the category, "No" if it is plain value]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="send_parent_category" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Parent Category</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to "Yes" then it will send category path. If "No" then it will send only category name]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/is_category_id">1</field>
                    </depends>
                </field>
                <field id="full_list_name" translate="label" type="select" sortOrder="115" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>List Name with full path</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When this setting is set to YES it will send full path of the category for example Men -> Tops -> Jacket. When set to NO it will just send the lowest category for example "Jacket"]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="send_default_list" translate="label" type="select" sortOrder="116" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send "Default List"</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When this setting is set to YES it will send "Default List" as list name when customers are landing on product page directly otherwise it will remove list name / list id]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="default_list" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default List</label>
                    <comment><![CDATA[Default list name if impression list could not be found]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/send_default_list">1</field>
                    </depends>
                </field>
                <field id="send_admin_orders" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Admin Orders to Google</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable this feature only if you want to send admin orders on order creation]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                </field>
                <field id="admin_source" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Source</label>
                    <comment><![CDATA[You can add your source here to pass this to Google for admin orders]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/send_admin_orders">1</field>
                    </depends>
                </field>
                <field id="admin_medium" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Medium</label>
                    <comment><![CDATA[You can add your medium here to pass this to Google for admin orders]]></comment>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/send_admin_orders">1</field>
                    </depends>
                </field>
                <field id="send_impression_on_scroll" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Product Impression On Scroll</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                    <comment>Enable this feature when you have loads of products on product listing / category pages</comment>
                </field>
                <field id="product_item_class" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product item class on category / product listing page</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/send_impression_on_scroll">1</field>
                    </depends>
                    <comment><![CDATA[Make sure this product class item hierarchy is as unique as possible for example for luma theme you can use <strong>div.products ol.product-items li.product-item</strong>]]></comment>
                </field>
                <field id="scroll_threshold" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Threshold for Scroll</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                        <field id="*/*/send_impression_on_scroll">1</field>
                    </depends>
                    <validate>validate-digits</validate>
                    <comment><![CDATA[Threshold to fire impressions on scroll]]></comment>
                </field>
                <field id="category_ajax_enabled" translate="label" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Category Ajax Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/enhanced_ecommerce_enabled">1</field>
                    </depends>
                    <comment><![CDATA[<span style="color:red;">Enable this feature if you have third party ajax enabled extension on your category page. You need to set tracking data manually when content is getting loaded</span>]]></comment>
                </field>
			</group>
            <group id="checkout" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>Checkout Behaviour</label>
                <field id="add_carrier_title" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Add Carrier Title</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Add carrier title to shipping step. If "Yes" it will send <i>carrier_code::carrier_title</i>. Ex. flatrate::Flat Rate]]></comment>
                </field>
                <field id="add_payment_title" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Add Payment Title</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Add payment method title to payment step. If "Yes" it will send <i>method::title</i>. Ex. checkmo::Check / Money Order]]></comment>
                </field>
                <field id="steps"
                       type="text"
                       translate="label comment"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Steps Configuration</label>
                    <frontend_model>Scommerce\TrackingBase\Block\System\Form\Steps</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment><![CDATA[Configuration of the checkout steps. Selectors for payment and shipment steps can be arbitrary they are not used.<br/>
                    For additional steps you can use format "selector[/event[/value]]". Where event and value are optional. Default event "change", if value is not set then it will send element value. So basic selector could be '#customer-email' this is equals to '#customer-email/change' and will send customer email itself.]]></comment>
                </field>
            </group>
		</section>
    </system>
</config>
